.loginContainer {
    >div {
        h1 {
            align-self: center;
            margin: 0 0 30 0;
        };
    
        padding: 30 100;
        background-color: white;
        display: flex;
        flex-direction: column;

        button {
            margin: 10 0;
        }
    }

    background-color: #3a3a3a;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardContainer {
    background-color: red;
}