.dashboardContainer {
  h1 {
    margin: 20;
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    * {
      color: white;
    }
    a {
      flex-grow: 1;
      margin: 20;
      cursor: pointer;
      @media only screen and (max-width: 1000px) {
        min-width: 300;
      }
    }

    .ant-card {
      border-radius: 7px;
    }

    .blue {
      background-color: #007bff;
    }
  
    .yellow {
      background-color: #ffc107;
    }
  
    .green {
      background-color: #28a745;
    }
  
    .red {
      background-color: #dc3545;
    }
  }

  .graphContainer{
    .ant-card-head {
      background-color: rgba(0, 0, 0, 0.03);
    }

    margin: 20 0;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
    }

    .ant-card {
      margin: 20;
    }

    @media only screen and (max-width: 800px) {
      .ant-card {
        flex: 1;
      }
    }

    @media only screen and (min-width: 800px) {
      .ant-card {
        flex: 1;
      }
    }
  }

  .coutriesCard {
    margin: 20;
    
    .ant-card-head {
      background-color: rgba(0, 0, 0, 0.03);
    }

    .ant-card-body {
      color:black;
    }

    .filters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20;

      .ant-dropdown-link {
        margin: 0 10;
      }

      .searchFilter {
        display: flex;
        align-items: center;

        p {
          margin: 0 10;
        }
      }
    }

    .coutriesTable{
      border-spacing: 5px;
      border: 1px solid black;
      width: 100%;
      color: black;
      
      th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
      }
    }
  }
}