.header {
  background-color: #343a40;
  color: white;
  padding: 10;
  height: 55;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .drawerIcon {
    cursor: pointer;
    height: 30;
    width: 30;
  }
}